@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  direction: rtl;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.section {
  @apply flex flex-col items-center min-h-screen pt-[6rem] md:pt-[7rem] pb-0 px-0 md:px-6;
}

.header_active {
  @apply backdrop-blur-[10px];
  background: rgba(255, 255, 255, 0.15);
}

.logo {
  @apply hidden w-10 h-10 md:flex items-center justify-center cursor-pointer rounded-[50%] text-black font-bold;
  background-color: #fff;
}

.hoverLayer {
  @apply rounded-full bg-opacity-80 bg-orange-700 cursor-pointer items-center flex absolute w-full h-full gap-6 left-0 top-0 z-[5] justify-center;
}

/* Forms start */
.form-input {
  @apply w-full rounded-md border border-slate-400 py-3 px-5 bg-slate-400 bg-opacity-20  text-white text-base outline-none focus-visible:shadow-none focus:border-blue-500 focus:border-2 transition;
}
.form-input.ltr {
  direction: ltr;
}
.form-input.disabled {
  @apply cursor-not-allowed placeholder-gray-500 bg-gray-500 bg-opacity-10 text-slate-400;
}
.form-input.birthday {
  @apply border-0 bg-gray-700 bg-opacity-0;
}
.search-input {
  @apply w-full rounded-md border border-slate-700 py-3 px-5 bg-slate-700  text-white text-base outline-none focus-visible:shadow-none focus:border-blue-500 focus:border-2 transition;
}
/* Forms end */
